:root {
  --bg: #f5e5cc;
  // --bg2: #ffb2d6;
  // --fg: #3B7560;
  //  --fg: #3f5d21;
  --fg: #166c4c;
  --fg: #745060;
  --fg: #763754;
  
  --bg: #F2F4ED;
  --bg: #FAFFF6; // logo
  --fg: #333;

  // // dark
  //  --bg: #231d20;
  //  --bg2: #500b2f;
  //  --bg: #251b1f;
  //  --bg2: #571b3a;
  //  --bg: #191919;
  //  --fg: #F2F4ED;

  --link: #ff0059;
  // --link: #ff8095;
  // --link: #ff8d64;
  // --link: #64ffd6;
  // --link: #00f7ff;
  --lbg1:#dbd3ca;
  --lbg2: #dbcad4;
  
  // --lbg1: #d9dbca;
  // --lbg2: #daecb7;
  // --lbg2: #bcffc2;

  // --bgimg: url(@/public/cb.webp);
  // --bgimg: url(@/public/cb2.jpg);
  // --bgimg: url(@/public/cb3.webp);
  // --bgimg: url(@/public/cb4.jpg);
  // --bgimg: url(@/public/grblue.jpg);
  // --bgimg: url(@/public/complex.jpg);
  // --bgimg: url(@/public/pinki.png);
  // --bgimg: url(@/public/pink.jpg);
  // --bgimg: url(@/public/small.jpg);
  // --bgimg: url(@/public/bg.jpg);
  // --bgimg: url(@/public/yellow.jpg);
  // --bgimg: url(@/public/mess.jpg);
  // --bgimg: url(@/public/deeppurple.jpg);
  // --bgimg: url(@/public/violet.jpg);
  // --bgimg: url(@/public/greygrid.jpg);
  // --bgimg: url(@/public/blue.jpg);
  // --bgimg: url(@/public/sharppurple.jpg);
  // --bgimg: url(@/public/sharppurple.jpg);
  // --bgimg: url(@/public/sharppurple2.jpg);
  --bgimg: url(@/public/sharppurple-hue.jpg);
  --bgimg: url(@/public/sharppurple-hue2.jpg);
  --bgimg: url(@/public/sharppurple-blueish.jpg);
  // --bgimg: url(@/public/sharppurple-xl2.jpg);
  // --bgimg: url(@/public/sharppurple.jpg);
}