
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  src: url(@/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf)
}
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  src: url(@/assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf)
}

@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 400;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-Regular.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 400;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-Italic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 100;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraLight.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 100;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraLightItalic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 200;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-Light.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 200;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-LightItalic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 500;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-Medium.woff2);
}

@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 500;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-MediumItalic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 600;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-SemiBold.woff2);
}

@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 600;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-SemiBoldItalic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 800;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 800;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-BoldItalic.woff2);
}
@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 800;
  font-style: normal;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraBold.woff2);
}

@font-face {
  font-family: 'jetbrainsmono';
  font-weight: 800;
  font-style: italic;
  src: url(@/assets/fonts/jetbrainsmono/JetBrainsMono-ExtraBoldItalic.woff2);
}